<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-6">
        <div class="card">
            <div class="centerText card-title">Linear Chart</div>
            <p-chart type="line" [data]="lineData"></p-chart>
        </div>
        
        <div class="card">
            <div class="centerText card-title">Pie Chart</div>
            <p-chart type="pie" [data]="pieData"></p-chart>
        </div>
        
        <div class="card">
            <div class="centerText card-title">Polar Area Chart</div>
            <p-chart type="polarArea" [data]="polarData"></p-chart>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-6">
        <div class="card">
            <div class="centerText card-title">Bar Chart</div>
            <p-chart type="bar" [data]="barData"></p-chart>
        </div>
        
        <div class="card">
            <div class="centerText card-title">Doughnut Chart</div>
            <p-chart type="doughnut" [data]="pieData"></p-chart>
        </div>
        
        <div class="card">
            <div class="centerText card-title">Radar Chart</div>
            <p-chart type="radar" [data]="radarData"></p-chart>
        </div>
    </div>
</div>
