<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <div class="card">
            <div class="card-title">Breadcrumb</div>
            <p-breadcrumb [model]="breadcrumbItems" [home]="{icon: 'ui-icon-home'}"></p-breadcrumb>
        </div>

        <div class="card">
            <div class="card-title">Steps</div>
            <p-steps [model]="stepsItems"></p-steps>
        </div>

        <div class="card">
            <div class="card-title">MenuBar</div>
            <p-menubar [model]="tieredItems"></p-menubar>
        </div>
    </div>

    <div class="ui-g-12 ui-lg-6">
        <!-- Left Colum -->
        <div class="card">
            <div class="card-title">Plain Menu</div>
            <p-menu #menu [model]="items" [style]="{'width':'250px'}"></p-menu>

            <p-menu #menu popup="popup" [model]="items" [style]="{'width':'250px'}"></p-menu>
            <button type="button" pButton icon="ui-icon-open-in-new" label="Show" (click)="menu.toggle($event)" style="margin-top:20px;width:auto"></button>
        </div>

        <div class="card">
            <div class="card-title">TieredMenu</div>
            <p-tieredMenu [model]="tieredItems" [style]="{'width':'250px','margin-bottom':'20px'}"></p-tieredMenu>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-6">
        <!-- Right Colum -->
        <div class="card">
            <div class="card-title" style="margin-top:40px">ContextMenu</div>
            Right click!

            <p-contextMenu [global]="true" [model]="tieredItems" [style]="{'width':'12.5em'}"></p-contextMenu>
        </div>

        <div class="card">
            <div class="card-title">SlideMenu</div>
            <p-slideMenu [model]="items" [style]="{'width':'260px'}" [menuWidth]="260"></p-slideMenu>
        </div>

        <div class="card">
            <div class="card-title">PanelMenu</div>
            <p-panelMenu [model]="panelMenuItems"></p-panelMenu>
        </div>
    </div>

    <div class="ui-g-12 ui-g-6">
        <div class="card">
            <div class="card-title">TabMenu</div>
            <p-tabMenu [model]="tabMenuItems" [activeItem]="tabMenuItems[2]"></p-tabMenu>
        </div>
    </div>

    <div class="ui-g-12 ui-g-6">
        <div class="card">
            <div class="card-title">MegaMenu - Horizontal</div>
            <p-megaMenu [model]="megaMenuItems"></p-megaMenu>

            <div class="card-title">MegaMenu - Vertical</div>
            <p-megaMenu [model]="megaMenuItems" orientation="vertical" [style]="{'width':'200px'}"></p-megaMenu>
        </div>
    </div>
</div>
