<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-6">
        <!-- Left Side -->
        <div class="card">
            <div class="card-title">Overlay Panel</div>
            <div class="ui-g">
                <div class="ui-g-6">
                    <button type="button" pButton label="Image" (click)="op1.toggle($event)"></button>
                    <p-overlayPanel #op1>
                        <img src="assets/demo/images/nature/nature1.jpg" alt="Nature 1" />
                    </p-overlayPanel>
                </div>
                <div class="ui-g-6">
                    <button type="button" pButton label="DataTable" (click)="op2.toggle($event)"></button>
                    <p-overlayPanel #op2 [showCloseIcon]="true" [dismissable]="false">
                        <p-table [columns]="cols" [value]="cars" dataKey="vin" [style]="{'width':'500px'}">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                      {{col.header}}
                                      <p-sortIcon [field]="col.field"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr [pSelectableRow]="rowData">
                                    <td *ngFor="let col of columns">
                                      {{rowData[col.field]}}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-overlayPanel>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-title">Dialog</div>
            <p-dialog header="Modal Dialog" [(visible)]="display" modal="modal" showEffect="fade" [style]="{width: '350px'}">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-helper-clearfix">
                        <button type="button" pButton (click)="display=false" label="Yes" class="flat"></button>
                        <button type="button" pButton (click)="display=false" label="No" class="ui-button-secondary flat"></button>
                    </div>
                </p-footer>
            </p-dialog>

            <button type="text" (click)="display=true" pButton icon="ui-icon-open-in-new" label="Show"></button>
        </div>

        <div class="card">
            <div class="card-title">Confirm Dialog</div>
            <p-confirmDialog header="Confirmation" icon="fa ui-icon-warning" [style]="{width: '425px'}"></p-confirmDialog>

            <button type="text" (click)="confirm()" pButton icon="pi pi-check" label="Confirm"></button>
        </div>

        <div class="card">
            <div class="card-title">Tooltip</div>
            <input type="text" pInputText pTooltip="Enter your username" placeholder="Right" tooltipEvent="focus">
        </div>
    </div>

    <div class="ui-g-12 ui-lg-6">
        <!-- Right Side -->
        <div class="card">
            <div class="card-title">LightBox</div>
            <p-lightbox [images]="images"></p-lightbox>
        </div>
    </div>
</div>
